body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.containergrid{
  width: 90%;
  max-width:1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
}

.menu{
  background: #ffffff;
  padding: 0px 20px;
}

nav {
   text-align: end;
}


nav ul{
    display: inline-grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 30px;
}

nav ul li{
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  text-align: end;
}

header .logo{
  font-size: 23px;
  font-weight: bold;
  margin-top: 30px;
}

#intro{
  background: linear-gradient(
    rgba(8, 8, 8, 0.753), 
    rgba(24, 23, 23, 0.562)
  ) , url(https://res.cloudinary.com/dzxpqumj0/image/upload/v1565324686/business-2717063_1920.jpg)
  ;
  text-align: center;
  height: 500px;
  background-size: cover;

  color: #ffffff;

}

#intro h1{
  font-size: 73px;
  font-weight: normal;
  padding-top: 60px;
  margin: 0px;
}

#intro p{
  
  font-size: 18px;
  line-height: 36px;
  width: 60%;
  margin: auto;

}

#intro .view{
  
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  padding: 11px 30px;
}

#intro .contact{
  
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 30px;
  background: #c39d63;

}
#intro .botones{
  margin-top: 80px;
  }
#intro .botones button{
  margin-right: 50px;
} 

#about .contenedor{
  width: 90%;
  max-width:1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

#about{
  padding: 42px 0;
}


.about{
  color: #bfbfbf;
  letter-spacing: 2px;
  font-weight: 700;

}

hr{
  width: 40px;
  float:left;
  border-color: #c29d63
}

#about h2{
  margin-top: 50px;
  font-size: 48px;
  font-weight: 300;
}

#about .texto{
  font-size: 17px;
  color: #939393;
  line-height:30px;
  width: 88%;
}

#about .izquierda{
  width: 75%;
}

#about img{
  width: 600px;
}

/* Woks */
#works{
  background:#1f1f1f;
  padding: 10px;
}

#works .contenedor{
  width: 90%;
  max-width:1200px;
  margin: auto;
    
}

#works .linea1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background: #ffffff;
  text-align: center;
}

#works .foto{
  background: url(https://res.cloudinary.com/dzxpqumj0/image/upload/v1565322999/business-1839876_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#works li{
  list-style: none;
}

#works .titulo{
  color: #c29d63;
  font-size: 24px;
  margin-bottom: 15px;
}

#works .tecnologia{
  font-size: 20px;
  margin-bottom: 10px;
}

#works ul{
  margin: 22px;
  padding: 0;
}

#works .descripcion{
  color: #939393;
  line-height: 25px;
  margin-top: 20px;
}

/* #contacto */

#contacto{
  color: #ffffff;
  background: linear-gradient(
    rgba(8, 8, 8, 0.753), 
    rgba(24, 23, 23, 0.562)
  ) , url(https://res.cloudinary.com/dzxpqumj0/image/upload/v1565324686/business-2717063_1920.jpg)
  ;
  text-align: center;
  padding: 90px 0;
}

#contacto .contenedor{
  width: 90%;
  max-width:1200px;
  margin: auto;
}
#contacto .formulario{
  background: #1f1f1f;
  padding: 77px 187px;
}

#contacto button{
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px 30px;
  background: #c39d63;
  width: 100px;

}

#contacto h3{
  font-size: 23px;
  font-weight: 100;
  margin: 0;
}

#contacto .formulario p{
  opacity: 0.8;
  width: 70%;
  margin: auto;
}

#contacto form{
  margin-top: 2 0px;
}

input, textarea {
  /* width: 72%; */
  border: 0;
  background: #111111;
  padding: 15px;
  
}

#contacto  .grid-container {
  display: grid;
 
  grid-row-gap: 10px;
  text-align: center;
  
  
}