body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.contenedor{
  width: 90%;
  max-width:1200px;
  margin: auto;

}

/* menu */
.menu{
  background: #ffffff;
  padding: 0px 20px;
}

.menu .contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  font-size: 23px;
  font-weight: bold;
}
nav ul li{
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
}

nav ul li {
    text-decoration: none;
}

/* Intro */
#intro{
  background: url(https://res.cloudinary.com/dzxpqumj0/image/upload/v1565324686/business-2717063_1920.jpg)
  ;
  text-align: center;
  height: 80vh;
  background-size: cover;

  /* color: #ffffff; */

}

#intro h1{
  font-size: 73px;
  font-weight: normal;
  padding-top: 60px;
  margin: 0px;
}

#intro p{
  
  font-size: 18px;
  line-height: 36px;
  width: 60%;
  margin: auto;

}

#intro .view{
  
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  padding: 11px;
}

#intro .contact{
  
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 11px;
  background: #c39d63;

}
#intro .botones{
  margin-top: 80px;
  }
#intro .botones button{
  margin-right: 20px;
}
